html {
	height: 100%;
}

body {
	font: 14px "Century Gothic", Futura, sans-serif;
	height: 100%;
	margin: 0px;
}

#root {
	background-color: #34383a;
}

ol, ul {
	padding-left: 30px;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.status {
	margin-bottom: 10px;
}

.square {
	background: #737373;
	border-style: solid;
	border-color: #00cc00;
	float: left;
	font-size: 40px;
	font-weight: bold;
	line-height: 54px;
	height: 70px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 70px;
	color: white;
}

.square:focus {
	outline: none;
}

.square:hover {
	border-width: 3px;
}

.played:hover, .empty:hover {
	border-width: 1px;
}

.winner:hover {
	border-width: 4px;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
	position: relative;
	top: calc(50% - 103px);
	text-align: center;
}

.game-info {
	position: absolute;
	display: inline-block;
	top: 0px;
	padding-left: 10px;
	height: 207px;
	width: 300px;
	overflow: auto;
	color: #ffffff;
}

.game-board {
	display: inline-block;
}

.winner {
	background-color: #00cc00;
	border-width: 4px;
}

#root {
	position: relative;
	height: 100%;
}

.moves {
	display: inline-block;
	width: 100%;
	height: 30px;
	background-color: #737373;
	margin-top: 10px;
	color: white;
}

.moves:hover {
	border-width: 3px;
}